# This is a basic workflow to help you get started with Actions

name: Build and Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: azure/docker-login@v1
      name: 'Login to Azure'
      with:
        login-server: railsteardown.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: 'Build and push image'
      run: |
        docker pull railsteardown.azurecr.io/rails-sample
        docker build . -t railsteardown.azurecr.io/rails-sample:${{ github.sha }} --cache-from=railsteardown.azurecr.io/rails-sample
        docker push railsteardown.azurecr.io/rails-sample:${{ github.sha }}
  
    - name: 'Deploy to Azure Web App for Container'   
      uses: azure/webapps-container-deploy@v1
      with: 
        app-name: rails-sample 
        images: railsteardown.azurecr.io/rails-sample:${{ github.sha }}



